<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Candidate</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body id="report_col">
    <h3>Add Candidate</h3>
    <input type="text" id="candidate" /><br /><br />
    <button onclick="addCandidate();">Add Candidate</button>
    <button><a id="deco" href="index.html">Back</a></button>
    <script src="../main.js"></script>
  </body>
</html>
