<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>POLLING SIMULATOR</title>
  </head>
  <body id="col">
    <main id="report">
      <h1>SBG ELECTION</h1>
      <li><a id="deco" href="add_candidate.html">Add Candidate</a></li>
      <li><a id="deco" href="vote.html">Vote</a></li>
      <li><a id="deco" href="poll_result.html">Poll Result</a></li>
      <li><a id="deco" href="voting_summary.html">Voting Summary</a></li>
    </main>
  </body>
</html>
